body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.button {
  font-size: 16px;
  line-height: normal;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: solid 1px black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 0px;
}

.header__background {
  background-image: url("../img/header__background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__wrapper {
  width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img {
  margin-top: 165px;
  margin-bottom: 150px;
}

.header__slogan {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 275px;
}

.header__text {
  font-weight: 400;
  font-size: 25px;
  text-transform: lowercase;
  position: relative;
}

.header__text::after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 105px;
  background-color: #ffffff;
  left: 153px;
  top: 75px;
}

.header__button {
  border-color: #ffffff;
  color: #ffffff;
  padding: 13px 42px;
  margin-bottom: 240px;
}

.site-navigation__wrapper {
  width: 700px;
  margin: 0 auto;
}

.site-navigation__list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  margin-bottom: 90px;
}

.site-navigation__link {
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 24px;
}

.site-navigation__link_active {
  color: #ada074;
}

.about__wrapper {
  width: 830px;
  margin: 0 auto;
}

.about__title {
  position: relative;
  text-align: center;
  margin-bottom: 65px;
}

.about__title::after {
  display: block;
  height: 1px;
  width: 80px;
  background-color: black;
  content: "";
  position: absolute;
  left: 375px;
  top: 65px;
}

.about__desc {
  text-align: center;
  color: #868585;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 100px;
}

.about__features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-bottom: 95px;
}

.about__features-item {
   width: 33%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__title {
  font-size: 22px;
  line-height: normal;
  letter-spacing: 5px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 30px;
}

.feature__desc {
  color: #868585;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.portfolio {
  background-color: #f3f3f3;
}

.portfolio__wrapper {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.portfolio__title {
  text-align: center;
  position: relative;
  padding-top: 105px;
  padding-bottom: 50px;
}

.portfolio__title::after {
  display: block;
  height: 1px;
  width: 80px;
  background-color: black;
  content: "";
  position: absolute;
  left: 510px;
  top: 170px;
}

.portfolio__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
}

.portfolio__nav-link {
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 24px;
}

.portfolio__nav-link_active {
  color: #ada074;
}

.portfolio__projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.portfolio__project-item {
  width: 540px;
  height: 360px;
  background-color: #eaeaea;
  display: block;
  margin-bottom: 20px;
}

.portfolio__button {
  border-color: black;
  color: black;
  padding: 13px 42px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.partners__background {
  background-image: url("../img/partners__background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.partners__wrapper {
  width: 600px;
  margin: 0 auto;
}

.partners__title {
  font-size: 30px;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 95px;
  padding-bottom: 90px;
}

.partners__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.contact__wrapper {
  width: 920px;
  margin: 0 auto;
}

.contact__title {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 155px;
  position: relative;
}

.contact__title::after {
  display: block;
  height: 1px;
  width: 80px;
  background-color: black;
  content: "";
  position: absolute;
  left: 420px;
  top: 65px;
}

.contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__column {
  width: 460px;
}

.contact__column_small {
  width: 390px;
}

.input-text {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid black;
  width: 160px;
}

.input-text::placeholder {
  color: black;
}

.contact__form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 90px;
}

.contact__form-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact__form-wrapper:last-child {
  justify-content: flex-end;
}

.contact__input-message {
  flex-grow: 1;
}

.contact__submit {
  border: none;
  font-weight: 700;
  background-color: white;
  padding-top: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}

.contact__desc {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.contact__name {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.contact__soc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 15px;
}

.contact__soc-item {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  margin-right: 12px;
}

.contact__soc-img {
  transform: translateY(5px);
}

.contact__email {
  font-size: 14px;
  margin: 0;
}

.contact__email_bold {
  font-weight: 700;
}

.footer {
  background-color: #3c3c3c;
}

.footer__wrapper {
  width: 270px;
  margin: 0 auto;
  text-align: center;
}

.footer__img {
  margin-top: 45px;
  margin-bottom: 40px;
}

.footer__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.footer__nav-link {
  color: #a4a4a4;
  text-decoration: none;
}

.footer__copyright {
  margin: 0;
  color: #6c6c6c;
  padding-bottom: 50px;
  font-size: 14px;
}
